:root {
    --black: #161819;
    --cyan: #8EF2FF;
    --orange: #E36E40;
}
html, body {
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
    color: white;
}

/*
    NAV BAR
------------------*/
.navbar {
    background-color: var(--black);
    background-color: transparent;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: slide-down 0.8s ease-in-out;
}
.navbar__list {
    display: flex;
    margin: 10px 0;
}
.navbar__list-item {
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 600;
}
.navbar__list-item a {
    color: white;
    font-weight: 600;
    padding: 10px 5px;
    position: relative;
}
.navbar__list-item a, 
.navbar__list-item a::after,
.navbar__list-item a::before {
    transition: all 0.4s;
}
.navbar__list-item a:hover {
    color: white;
}
.navbar__list-item a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /* start from center */
    width: 0%;
    background: var(--orange);
    height: 2px;
}
.navbar__list-item a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar__list-item  {
        padding: 5px 10px;
    }
    .navbar__list-item a {
        font-size: 1rem;
    }
}
@keyframes slide-down {
   0% {
       transform: translateY(-100%);
   }
   100% {
       transform: translateY(0);
   }
}

/*
    WELCOME SECTION
-----------------------*/
.welcome {
    height: 100vh;
    background-color: #120F23;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),  url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.welcome__title {
    font-size: 4.5rem;
    margin: 0;
    text-shadow: 1.25px 1.25px var(--orange);
    letter-spacing: 2px;
}

.welcome__subtitle {
    font-size: 1.6rem;
    margin: 0;
    text-shadow: 1px 1px var(--orange);
    text-align: center;
    font-weight: 600;
}

.welcome__title,.welcome__subtitle {
    animation: slide-up .4s ease-in forwards;
    animation-delay: .8s; /* start after nav animation finishes*/
    opacity: 0;
}

@media (max-width: 768px) {
    .welcome__title {
        font-size: 3rem;
        text-shadow: none;
    }
    .welcome__subtitle {
        font-size: 1.2rem;
        text-shadow: none;
    }
}
@media (max-width: 576px) {
    .welcome__title {
        font-size: 2.3rem;
        margin-left: .5rem;
        line-height: 1.1;
    }
    .welcome__subtitle {
        margin-left: .5rem;
    }
}
@keyframes slide-up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*
    ABOUT SECTION
----------------------*/
.about {
    display: flex;
    justify-content: center;
}
.about__container {
    max-width: 1200px;
    display: flex;
    margin: 6rem 0 2rem 0;
}
.about__desc {
    flex: 3;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    line-height: 1.6;
}
.about__photo {
    flex: 1;
    display: flex;
    justify-content: center;
}
.dp {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background: url(../images/picture1.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 4px var(--black);
}
/* Tooltip for the dp image */
.dp::before, .dp::after {
    --scale: 0;
    position: absolute;
    top: -2.75rem;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    transition: 0.3s transform;
    transform-origin: bottom center;
}
.dp::before {
    content: 'Hi, its Aman!';
    padding: 1rem;
    width: max-content;
    max-width: 100%;
    background: var(--black);
    color: var(--orange);
    font-size: 1.1rem;
    text-align: center;
    border-radius: 0.25rem;
}
.dp::after {
    content: '';
    border: 10px solid transparent;
    border-top-color: var(--black);
    top: -0.4rem;
    transform-origin: top center;
}
.dp:hover::before, .dp:hover::after {
    --scale: 1;
}

@media (max-width: 768px) {
    .about__container {
        flex-direction: column;
        margin-top: 3rem;
    }
    .about__desc {
        order: 2;
        font-size: 1.4rem;
        padding-top: 1rem;
    }
    .about__photo {
        order: 1;
    }
}
@media (max-width: 576px) {
    .about__desc {
        font-size: 1.25rem;
    }
    /* Tooltip for mobile devices */
    .dp::before, .dp::after {
        top: -1.2rem;
    }
    .dp::before  {
        background: none;
        padding: 0;
    }
    .dp::after {
        display: none;
    }
}

/*
    SKILLS SECTION
----------------------*/
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3%;
}
.skills__title {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
.skills__innerbox {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.skills__icon {
    font-size: 4rem;
    transition: .4s ease;
}
.skills__icon:not(:last-child) {
    margin-right: 4rem;
}
.skills__icon:hover {
    transform: scale(1.2) !important;
}
.skills__icon__c {
    margin-top: 15px;
}

@media (max-width: 992px) {
    .skills__icon:not(:last-child) {
        margin-right: 2rem;
    }
} 
@media (max-width: 768px) {
    .skills__innerbox {
        flex-wrap: wrap;
        padding: 5px 10px;
    }
    .skills__title {
        font-size: 1.6rem;
    }
    .skills__icon {
        font-size: 3.5rem;
    }
    .skills__icon__c {
        margin-top: 10px;
    }
    .skills__icon:not(:last-child) {
        margin-right: 1.25rem;
    }
}

/*
    PROJECTS SECTION
-----------------------*/
.projects {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);   
    padding: 7rem 0;
}
.projects__title {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}
.projects__outerbox {
    display: flex;
    margin: 0 4rem;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.projects__tile {
    padding: 0 .5rem;
    max-width: 320px;   
}
.projects__image {
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.projects__image:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}
.projects__name {
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem 0;
    font-weight: 600;
}
.projects__desc {
    min-height: 100px;
    opacity: 0.9;
    line-height: 1.5;
}
.projects__link {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.projects__link a {
    font-weight: 600;
    color: var(--black);
    border: 2px solid var(--black);
    padding: 5px 10px;
    border-radius: 25px;
    transition: all .5s;
}
.projects__link a:hover {
    color: var(--orange);
    background-color: var(--black);
}
.projects__link-icon {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .projects__outerbox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .projects__tile {
        margin-bottom: 2rem;
    }
}
@media (max-width: 576px) {
    .projects {
        padding: 4rem 0;
    }
    .projects__title {
        font-size: 2.25rem;
    }
    .projects__desc {
        text-align: center;
    }
}

/*
    FOOTER
------------------*/
.footer {
    padding: .5rem 0;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}
.footer__list {
    display: flex;
}
.footer__list a {
    transition: all 0.4s ease;
}
.footer__list a:hover {
    color: var(--orange);
}
.footer__listitem {
    font-size: 1.5rem;
    margin-right: 1rem;
}

/*
    PRELOADER
--------------------*/
.preloader-overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2; /* navbar has z-index: 1*/
    background-color: var(--black);
    position: fixed; /* removing this div out of DOM */
    display: flex;
    justify-content: center;
    align-items: center;

}
.spinner {
    height: 6rem;
    width: 6rem;
    border: 2px solid #f3f3f3;
    border-top: 5px solid var(--cyan);
    border-radius: 50%;
    animation: spin 1.25s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}